<!doctype html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>
	<% include partials/header.ejs %>
		<div id="hero-image">
			<h1 id="hero-title"><%= title %> </h1>
			</h1>
		</div>

		<div id="posters-wrapper" class="content-padding clearfix">
	  <% for (var i = 0; i <characters.length; i++) { %>
	  	<div class="poster">
	  			<a href="/characters/<%=characters[i].id %>">
			  	<img src="/images/<%= characters[i].imageName%>" class="img-responsive">

			  	<div class="poster-info-overlay">
			  	<h3><%= characters[i].characterName%></h3>
			  	<h4>View More <i class="fa fa-arrow-right"></i></h4>
			  	 </div>

			  	 </a>
			</div>	  
	  <% } %>

		</div>
	<% include partials/scripts.ejs %>
	<% include partials/footer.ejs %>


	</body>
</html>